.main{
	background: #eeeeee;
	width: 100%;
	margin: auto;
}
.post{
	margin: auto;
	width: 460px;
	padding-bottom: 48px;
    padding-top: 20px;
}
.post-header{
	background: white;
	width: 428px;
	display: inline-block;
	padding: 11px;
}
.post-header h5{
	float: left;
}
.post-header span{
	float: right;
	font-size: 12px;
	color: #bbbbbb;
}
.post img{
	width: 428px;
	height: 200px;
	margin-top: -5px;
	margin-bottom: -4px;
}
.post p{
	background: white;
	font-size: 12px;
	padding: 13px;
	width: 428px;
	margin-bottom: -5px;
}
.hashtag:before{
	content: " #BreatheCode";
}
.bigbox {
	overflow-x: hidden;
}
.postdiv{
	margin-top: 5px;
	height: 30px;
	width: 428px;
	background-color: white;
	display: flex;
	flex-direction: row;
	align-items: baseline;
	padding-left: 10px;

}
.postdiv2{
	margin-top: 0;
	height: 30px;
	width: 428px;
	background-color: white;
	display: flex;
	flex-direction: row;
	align-items: baseline;
	padding-left: 10px;
}
.postdiv2 span{
	margin-left: 10px;
	margin-right: 300px;
	color: #bbbbbb;
}